* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: darkslategray;
    color:white;
}

footer {
    background-color: darkslategray;
    color:white;
}

.top {
    background-color: darkslategray;
    color:white;
}